<template>
  <form submit.delegate="submit()">
    <div validation-errors.bind="titleErrors">
      <label>Title</label>
      <!-- <div> -->
      <input type="text" placeholder="Title" value.bind="todo.title & validate">
      <strong repeat.for="errorInfo of titleErrors">${errorInfo.error.message}</strong>
      <!-- </div> -->
    </div>

    <!-- <div class="item-inner" validation-errors.bind="nameErrors">
      <div class="item-name label">
        Name
        <strong repeat.for="errorInfo of nameErrors">${errorInfo.error.message}</strong>
      </div>
      <div class="item-input">
        <input type="text" placeholder="Name" value.bind="todo.name & validate">
      </div>
    </div> -->

    <br>
    <button type="submit">Subscribe</button>
  </form>

</template>
