<template>
  <div class="container-fluid mt-5">
    <div class="row rounded shadow pt-3 pb-3 content-background">
      <div class="col-12 ">
        <form submit.delegate="submit()">
          <div class="row">

            <!-- Name -->
            <div class="col-12 col-md-6">
              <div class="form-group" validation-errors.bind="nameErrors">
                <label t="subscribe.name">Name</label>
                <input type="text"
                  class="form-control ${nameErrors.length ? 'is-invalid' : ''}"
                  t="[placeholder]subscribe.placeholder.name"
                  value.bind="subData.name & validate">
                <div class="invalid-feedback" repeat.for="errorInfo of nameErrors">
                  ${errorInfo.error.message}
                </div>
              </div>
            </div>

            <!-- Email -->
            <div class="col-12 col-md-6">
              <div class="form-group" validation-errors.bind="emailErrors">
                <label t="subscribe.email">Email</label>
                <input type="text"
                  class="form-control ${emailErrors.length ? 'is-invalid' : ''}"
                  t="[placeholder]subscribe.placeholder.email"
                  value.bind="subData.email & validate">
                <div class="invalid-feedback" repeat.for="errorInfo of emailErrors">
                  ${errorInfo.error.message}
                </div>
              </div>
            </div>

            <!-- Phone -->
            <div class="col-12 col-md-6">
              <div class="form-group" validation-errors.bind="phoneErrors">
                <label t="subscribe.phone">Phone number</label>
                <input type="text"
                  class="form-control ${phoneErrors.length ? 'is-invalid' : ''}"
                  id="phone" t="[placeholder]subscribe.placeholder.phone"
                  value.bind="subData.phone & validate">
                <div class="invalid-feedback" repeat.for="errorInfo of phoneErrors">
                  ${errorInfo.error.message}
                </div>
              </div>
            </div>

            <!-- Package -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label t="subscribe.select-package" for="select">Select Package</label>
                <select class="form-control" id="select" value.bind="subData.package">
                  <option repeat.for="package of packages">${package}</option>
                </select>
              </div>
            </div>

            <!-- Period -->
            <div class="col-12 col-md-6 mb-3">
              <label class="form-check-label" t="subscribe.period">Selectio subscription period:</label>
              <div class="form-check" repeat.for="option of periodOptions">
                <input
                  class="form-check-input"
                  type="radio"
                  name="period-radio"
                  model.bind="option"
                  checked.bind="$parent.subData.period">
                <label class="form-check-label">
                  ${option} <span t="subscribe.months">Month(s)</span>
                </label>
              </div>
            </div>

            <!-- Recieve Email Checkbox -->
            <div class="col-12 col-md-6 mb-3">
              <label class="form-check-label"t="subscribe.recieve-news">Would you like to recieve news?</label>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="recieve-emails" checked.bind="subData.isRecieveingEmails">
                <label class="form-check-label" t="subscribe.recieve-emails">Recieve Emails</label>
              </div>
            </div>

          </div>
          <button type="submit" class="btn btn-dark btn-block mt-3" t="subscribe.button.subscribe">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</template>
