<template>
  <!-- Cards -->
  <div class="container-fluid mt-4">
    <div class="row justify-content-center">
      <div class="col-auto mb-5" repeat.for="p of pokemon">
        <div class="card shadow text-center" style="width: 180px;"> <!--232px-->
          <img class="card-img-top" src="${p.image}">
          <div class="card-body">
            <h5 class="card-title">${p.name + ' ' + p.id}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination -->
  <div>
    <ul class="pagination justify-content-center">
      <li class="page-item ${activePage <= 1 ? 'disabled' : ''}">
        <a class="page-link" click.delegate="onPageClick(activePage - 1)"><</a>
      </li>

      <li class="page-item ${page === activePage? 'active' : ''}" repeat.for="page of pages">
        <a class="page-link" click.delegate="onPageClick(page)">${page}</a>
      </li>

      <li class="page-item ${activePage >= pages[pages.length-1] ? 'disabled' : ''}">
        <a class="page-link" click.delegate="onPageClick(activePage + 1)">></a>
      </li>
    </ul>
  </div>
</template>
