<template>
  <require from="resources/value-converters/pokename"></require>
  <require from="resources/attributes/poke-background"></require>
  <require from="components/poke-pagination/poke-pagination"></require>
  <!-- Cards -->
  <div class="container-fluid mt-4">
    <div class="row justify-content-center">
      <div class="col-auto mb-5" repeat.for="p of pokemon">
        <div class="card text-center" poke-background="${p.type[0]}">
          <img class="card-img-top" src="${p.image !== null ? p.image : '/img/pikachu-silhouette.png'}">
          <div class="card-body">
            <h5 class="card-title">${p.name | pokename}</h5>
            <p class="card-number">
              <span style="line-height: 33px;">${p.id < 1000 ? p.id : 'X'}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination -->
  <!-- <div>
    <ul class="pagination justify-content-center">
      <li class="page-item ${paginationService.activePage <= 1 ? 'disabled' : ''}">
        <a class="page-link" click.delegate="onPageClick(paginationService.activePage - 1)"><</a>
      </li>
      <li class="page-item ${page === paginationService.activePage? 'active' : ''}" repeat.for="page of paginationService.pages">
        <a class="page-link" click.delegate="onPageClick(page)">${page}</a>
      </li>
      <li class="page-item ${paginationService.activePage >= paginationService.pages[paginationService.pages.length-1] ? 'disabled' : ''}">
        <a class="page-link" click.delegate="onPageClick(paginationService.activePage + 1)">></a>
      </li>
    </ul>
  </div> -->
  <poke-pagination last-page.bind="lastPage" page-click.call="test($event)"></poke-pagination>


</template>
