<template>
  <require from="resources/value-converters/pokename"></require>
  <require from="resources/attributes/poke-background"></require>
  <require from="components/pagination/pagination"></require>
  <div class="container-fluid mt-5">
    <!-- Toolbar -->
    <div class="row justify-content-end mb-5 p-2 rounded shadow content-background">
      <p class="p-2 mb-0 mr-1">Pokemon per page:</p>
      <select class="form-control mini-select" value.bind="pokemonPerPage" change.delegate="onPokemonPerPageChange()">
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>50</option>
      </select>
    </div>
    <!-- Cards -->
    <div class="row justify-content-center">
      <div class="col-auto mb-5" repeat.for="p of pokemon">
        <a href="/pokemon/${p.name}" class="card text-center" poke-background="${p.type[0]}" >
          <img class="card-img-top" src="${p.image !== null ? p.image : '/img/pikachu-silhouette.png'}">
          <div class="card-body">
            <h5 class="card-title">${p.name | pokename}</h5>
            <p class="card-number">
              <span style="line-height: 33px;">${p.id < 1000 ? p.id : 'X'}</span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Pagination -->
  <pagination last-page.bind="lastPage" active-page.two-way="activePage"></pagination>
</template>
