@font-face {
  font-family: Muli;
  src: url("assets/font/Muli-Regular.ttf");
}

@font-face {
  font-family: BalsamiqSans;
  src: url("assets/font/BalsamiqSans-Regular.ttf");
}

* {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

body {
  background-color: #f0f0f0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'BalsamiqSans', sans-serif;
}

.content-width {
  max-width: 1080px;
}

.content {
  min-height: calc(100vh - 200px);
  max-width: 1080px;
  margin: 20px auto;
  padding: 15px;
}

.content-background {
  background-color: white;
}

/* HEADER STYLES */

nav {
  border-bottom: solid #222224 10px;
  min-height: 80px;
}

.nav-link {
  color: #FFCB05 !important;
}

.nav-link:hover {
  color: #FFCB05 !important;
  text-shadow:
    -1px -1px 0 #003A70,
    1px -1px 0 #003A70,
    -1px 1px 0 #003A70,
    1px 1px 0 #003A70,
    -2px 0 0 #003A70,
    2px 0 0 #003A70,
    0 2px 0 #003A70,
    0 -2px 0 #003A70;
}

.active {
  color: #FFCB05 !important;
  text-shadow:
    -1px -1px 0 #003A70,
    1px -1px 0 #003A70,
    -1px 1px 0 #003A70,
    1px 1px 0 #003A70,
    -2px 0 0 #003A70,
    2px 0 0 #003A70,
    0 2px 0 #003A70,
    0 -2px 0 #003A70;
}

.nav-link {
  font-size: large;
}

nav::after {
  content: '';
  background-color: #f0f0f0;
  border: solid #222224 6px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

@media (max-width: 991px) {
  nav::after {
    display: block;
    margin-top: -16px;
    margin-bottom: -44px;
    margin-left: calc(50% - 30px);
  }
}

@media (min-width: 992px) {
  nav::after {
    position: absolute;
    left: calc(50% - 30px);
    top: 45px;
  }
}

/* FOOTER */

footer {
  background-color: #ee1515;
  border-top: solid #222224 10px;
  height: 80px;
}

.copyright {
  color: #FFCB05 !important;
  text-shadow:
    -1px -1px 0 #003A70,
    1px -1px 0 #003A70,
    -1px 1px 0 #003A70,
    1px 1px 0 #003A70,
    -2px 0 0 #003A70,
    2px 0 0 #003A70,
    0 2px 0 #003A70,
    0 -2px 0 #003A70;
}

/* TOOLBAR */

.mini-select {
  width: 54px !important;
  padding: 5px !important;
}

/* CARDS */

.card {
  width: 180px;
}

.card:hover {
  box-shadow: inset 0 0 100px #222224;
  color: #212529;
  text-decoration: none;
}

.card-body {
  background-color: #222224b0;
  color: #f0f0f0;
}

.card-title {
  margin-bottom: 0 !important;
  height: 48px;
}

.card-number {
  background-image: url("assets/img/pokeball.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFCB05;
  text-shadow:
    -1px -1px 0 #003A70,
    1px -1px 0 #003A70,
    -1px 1px 0 #003A70,
    1px 1px 0 #003A70,
    -2px 0 0 #003A70,
    2px 0 0 #003A70,
    0 2px 0 #003A70,
    0 -2px 0 #003A70;
  border-radius: 50%;
  width: 34px !important;
  height: 34px !important;
  margin-bottom: -36px;
  margin-left: 120px;
}

/* PAGINATION */

.page-link {
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: #ee1515 !important;
  border-color: #222224 !important;
  color: #FFCB05 !important;
}
